.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Fleet
.fleet/

### Mac OS ###
.DS_Store

### iOS
common/common.podspec
.cxx
iOS/Podfile.lock
iOS/Pods/*
iOS/iOS.xcworkspace/*
iOS/iOS.xcodeproj/*
!iOS/iOS.xcodeproj/project.pbxproj
